{{ define "content" }}
    <main class="pb-5 container-xxl" id="main">
        <div class="mx-auto py-5 col-12 col-md-10 col-lg-8 col-xxl-6">
            <form class="d-flex flex-column row-gap-4 mb-3" id="questions_form">
                <div class="card">
                    <div class="card-body d-flex flex-column row-gap-4">
                        <div>
                            <div class="form-floating">
                                <select class="form-select" name="exam_id" id="categorySelect" aria-label="选择类别" required>
                                    <option value="" selected disabled>选择行业</option>
                                </select>
                                <label for="categorySelect">题库类别</label>
                            </div>
                            <div class="form-text">
                                <span>选择需要学习的题库行业</span>
                            </div>
                        </div>
                        <div>
                            <div class="d-grid row-gap-2">
                                <button type="reset" class="ms-auto btn btn-sm btn-link link-danger link-underline-opacity-0 btn-outline-secondary">清空</button>
                                <button type="submit" class="btn btn-success">获取</button>
                            </div>
                            <div class="form-text">
                                <span>本页面数据并非实时更新，更新周期：3小时</span><br>
                                <span>最新内容时间较长，请耐心等待</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
{{ end }}