<footer-gradient></footer-gradient>
<footer class="py-5 bg-dark-subtle">
    <div class="container vstack row-gap-4 py-5">
        <div class="vstack align-items-end row-gap-3">
            {{- partial "footer/commit" . }}
            {{- partial "footer/icon" . }}
        </div>
        <hr class="my-3">
        <div class="vstack row-gap-1 align-items-end text-xs">
            {{- partial "footer/icp" . }}
        </div>
        <div class="vstack row-gap-1 text-xs">
            {{- partial "footer/copyright" . }}
            {{- partial "footer/powered" . }}
        </div>
    </div>
</footer>