<div class="container-fluid gx-0 bg-gradient overflow-hidden overflow-x-scroll skippy" style="height: 48px;">
    <div class="container gx-0 py-1 d-flex align-items-center column-gap-3 text-nowrap link-offset-2">
        <a class="p-2 link-warning link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-25-hover focus-ring focus-ring-warning rounded" href="#content" title="{{ T "skip_to-page_content" }}">{{ T "skip_to-page_content" }}</a>
        <a class="p-2 link-warning link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-25-hover focus-ring focus-ring-warning rounded" href="#TableOfContents" title="{{ T "skip_to-page_table_of_contents" }}">{{ T "skip_to-page_table_of_contents" }}</a>
        <a class="p-2 link-warning link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-25-hover focus-ring focus-ring-warning rounded" href="#navigation" title="{{ T "skip_to-site_navigation" }}">{{ T "skip_to-site_navigation" }}</a>
        <a class="p-2 link-warning link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-25-hover focus-ring focus-ring-warning rounded" href="#post-content" title="{{ T "skip_to-post_content" }}">{{ T "skip_to-post_content" }}</a>
    </div>
    <div class="visually-hidden" id="top"></div>
</div>