<div class="container-fluid bg-gradient skippy">
    <div class="container py-3 d-flex column-gap-3 link-offset-2">
        <a class="px-1 link-warning link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-25-hover focus-ring focus-ring-warning rounded" href="#content" title="{{ T "skip_to-page_content" }}">{{ T "skip_to-page_content" }}</a>
        <a class="px-1 link-warning link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-25-hover focus-ring focus-ring-warning rounded" href="#TableOfContents" title="{{ T "skip_to-page_table_of_contents" }}">{{ T "skip_to-page_table_of_contents" }}</a>
        <a class="px-1 link-warning link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-25-hover focus-ring focus-ring-warning rounded" href="#navigation" title="{{ T "skip_to-site_navigation" }}">{{ T "skip_to-site_navigation" }}</a>
        <a class="px-1 link-warning link-opacity-75-hover link-underline-opacity-50 link-underline-opacity-25-hover focus-ring focus-ring-warning rounded" href="#post-content" title="{{ T "skip_to-post_content" }}">{{ T "skip_to-post_content" }}</a>
    </div>
    <div class="visually-hidden" id="top"></div>
</div>