<div class="skippy visually-hidden-focusable">
    <div class="container-xl">
        <a class="d-inline-flex p-2 m-1" href="#content" title="{{ T "skip_to-page_content" }}">{{ T "skip_to-page_content" }}</a>
        <a class="d-inline-flex p-2 m-1" href="#TableOfContents" title="{{ T "skip_to-page_table_of_contents" }}">{{ T "skip_to-page_table_of_contents" }}</a>
        <a class="d-inline-flex p-2 m-1" href="#navigation" title="{{ T "skip_to-site_navigation" }}">{{ T "skip_to-site_navigation" }}</a>
        <a class="d-inline-flex p-2 m-1" href="#post-content" title="{{ T "skip_to-post_content" }}">{{ T "skip_to-post_content" }}</a>
    </div>
    <div class="visually-hidden" id="top"></div>
</div>