<div class="text-bg-success text-success-emphasis sticky-top" id="top-bulletin" style="z-index: 1019;">
    <div class="container-xxl alert d-flex justify-content-between" role="alert" id="alert-top-bulletin">
        <span></span>
        <div>
            <svg class="bi" width="16" height="16"><title>megaphone</title>
                <use href="#bi-megaphone"></use>
            </svg>
            <span class="mx-2 bulletin-text">here is some content</span>
            <a href="javascript:" class="alert-link link-underline-success" target="_blank" title="xx">Check The Details</a>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>