<div class="bulletin-container text-bg-success text-success-emphasis sticky-top" id="top-bulletin" style="z-index: 1019;">
    <div class="container-xxl alert d-flex justify-content-start align-items-center fade show" role="alert" id="headerNotice" style="--bs-alert-margin-bottom: 0;">
        <svg class="bi fs-5" width="16" height="16"><title>megaphone</title><use href="#bi-megaphone"></use></svg>
        <div class="bulletin bulletin_inline">
            <div class="d-inline-block text-nowrap bulletin-animation animationName-marquee duration-s">
                <span class="text-info">杰格网唯一微信号：JZEG-NET 加好友时记得备注 加群。 </span>
                <span class="text-warning-emphasis">如果你觉得本站对你有帮助，你可以考虑对本站进行捐赠。</span>
                <a href="javascript:" class="text-warning alert-link link-underline-success link-underline-opacity-0" data-donate="alipay" target="_blank" title="捐赠本站">捐赠本站</a>
            </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>