<div class="text-bg-success text-success-emphasis sticky-top" id="top-bulletin" style="z-index: 1019;">
    <div class="container-xxl alert d-flex justify-content-start align-items-center fade show" role="alert" id="headerNotice" style="--bs-alert-margin-bottom: 0;">
        <svg class="bi" width="16" height="16"><title>megaphone</title><use href="#bi-megaphone"></use></svg>
        <div class="mx-1 overflow-hidden flex-fill">
            <div class="d-inline-block text-nowrap bulletin-animation animationName-marquee duration-s">
                <span>here is some content</span>
                <a href="javascript:" class="alert-link link-underline-success" target="_blank" title="xx">Check The Details</a>
            </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>