$base: 1rem;

$base_size: 2px;
$size_1x: $base_size*1;
$size_2x: $base_size*2;
$size_3x: $base_size*3;
$size_4x: $base_size*4;

$base_color: rgb(138, 43, 226);
$color_1x: $base_color;
$color_2x: $base_color;
$color_3x: $base_color;
$color_4x: $base_color;

$base_distance: 19px;
$distance_1x: $base_distance*1;
$distance_2x: $base_distance*2;
$distance_3x: $base_distance*3;
$distance_4x: $base_distance*4;

$zindex-loader-backdrop:  1100 !default;
$zindex-loader:           1105 !default;

$loader-backdrop-bg:      $black !default;
$loader-backdrop-opacity: .5 !default;
