{{ define "content" }}
    <main id="content">
        <div class="fullPage">
            <section><h2>Section 1</h2></section>
            <section>
                <div class="slidesContainer">
                    <div class="slide"><h3>Section 2 Slide 2.1</h3></div>
                    <div class="slide"><h3>Section 2 Slide 2.2</h3></div>
                    <div class="slide"><h3>Section 2 Slide 2.3</h3></div>
                    <div class="slide"><h3>Section 2 Slide 2.4</h3></div>
                </div>
            </section>
            <section><h2>Section 3</h2></section>
            <section><h2>Section 4</h2></section>
        </div>
    </main>
{{ end }}