{{ define "content" }}
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol viewBox="0 0 16 16" id="bi-box-arrow-up-right">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
        </symbol>
        <symbol viewBox="0 0 16 16" id="bi-arrow-counterclockwise">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
        </symbol>
        <symbol viewBox="0 0 16 16" id="bi-copy">
            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
        </symbol>
        <symbol viewBox="0 0 16 16" id="bi-check-square">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
            <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
        </symbol>
    </svg>
    <main id="content">
        <div class="pt-5 col-11 col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5 position-absolute top-0 start-50 translate-middle-x text-center">
            <h1 class="d-block my-5 fw-light text-secondary display-5">{{- .Site.Title -}}</h1>
            <div class="card" style="box-shadow: 6px 6px 0px rgba(var(--bs-body-color-rgb),.1);">
                <div class="card-body">
                    <h2 class="my-4 card-title fw-bolder">{{- T "jump_title" -}}</h2>
                    <div class="my-4 text-bg-secondary rounded-2 overflow-hidden d-flex flex-row">
                        <div class="p-1 w-100">
                            <input class="w-100 h-100 px-2 border-0 rounded-2 bg-secondary-subtle text-center" type="url" name="url" id="link_input" disabled readonly>
                        </div>
                        <button class="ms-1 px-3 py-1 lh-lg bg-secondary border-0 text-center text-nowrap d-md-flex flex-row justify-content-center align-items-center" data-copied-successfully="{{ T "copied_successfully" }}" data-copy-failed="{{ T "copy_failed" }}" type="button" id="link_copy" style="outline-offset: -2px;">
                            <svg class="ms-1 fs-5 bi" width="16" height="16"><title>{{ T "copy" }}</title><use href="#bi-copy"></use></svg>
                            <svg class="ms-1 fs-5 bi d-none" width="16" height="16"><title>{{ T "copied" }}</title><use href="#bi-check-square"></use></svg>
                        </button>
                    </div>
                    <div class="my-3 card-text small" id="hintInfo">{{- T "jump_hintInfo" -}}</div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-end gap-4 me-3">
                        <button class="btn btn-lg btn-outline-secondary" type="button" id="to_back">
                            {{- T "jump_back" -}}
                            <svg class="ms-2 bi" width="16" height="16"><title>{{ T "jump_back" }}</title><use href="#bi-arrow-counterclockwise"></use></svg>
                        </button>
                        <a class="btn btn-lg btn-bd-primary" href="#" rel="noreferrer" target="_blank" id="to_external" title="{{- T "jump_open" -}}">
                            {{- T "jump_open" -}}
                            <svg class="ms-2 bi" width="16" height="16"><title>{{ T "jump_open" }}</title><use href="#bi-box-arrow-up-right"></use></svg>
                        </a>
                    </div>
                    <div class="my-5 user-select-none d-flex justify-content-end link-secondary link-opacity-50 link-opacity-75-hover">
                        <details>
                            <summary class="mb-1 text-end">{{ T "jump_turn_off" }}</summary>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="dismissible" id="jump_link_dismissible">
                                <label class="form-check-label" for="jump_link_dismissible">{{ T "jump_turn_off_msg" }}</label>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
            <div class="feedback py-3 text-end">
                <a class="small link-secondary link-opacity-50-hover link-offset-3 link-underline-opacity-0 link-underline-opacity-50-hover" href="{{ "contact?category=feedback&title=%E3%80%90%E8%B7%B3%E8%BD%AC%E5%A4%96%E9%93%BE%E3%80%91" | relLangURL }}" target="_blank">{{ T "feedback" }}</a>
            </div>
            <div class="text-secondary-emphasis small">
                <p>{{ T "ad" }}</p>
            </div>
        </div>
        {{- .Content -}}
    </main>
{{ end }}