{{- if .Site.IsMultiLingual -}}
    <li class="nav-item col-6 col-lg-auto dropdown">
        <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                id="languageSwitchers" type="button" aria-expanded="false" data-bs-toggle="dropdown"
                data-bs-display="static">
            <svg class="bi my-1 theme-icon-active"><use href="#translate"></use></svg>
            <span class="d-lg-none ms-2" id="bd-language-text">{{ T "menu_switch_language" }}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-language-text" style="--bs-dropdown-min-width: 8rem;">
            {{- range .AllTranslations -}}
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="{{- .RelPermalink  -}}" data-language-value="{{ .Site.LanguageCode | lower }}">
                        <i class="bi me-2 opacity-75 fi fi-{{ .Site.Params.icon }}"></i>
                        {{- .Language.LanguageName -}}
                        <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                    </a>
                </li>
            {{ end }}
        </ul>
    </li>
{{ end }}