{{ define "content" }}
    <main class="pb-5 container-xxl" id="main">
        {{ .Content }}
        <div class="mx-auto py-5 col-12 col-sm-10 col-md-8 col-lg-6 col-xxl-5">
            <form class="card" id="login">
                <div class="card-body"></div>
            </form>
        </div>
        <div class="vstack row-gap-3">
            <div class="hstack column-gap-4 justify-content-center">
                <a class="link-underline link-underline-opacity-0" href="/zh-cn/tools/zhgh/passwork/" target="_blank">闯关</a>
                <a class="link-underline link-underline-opacity-0" href="/zh-cn/tools/zhgh/study/" target="_blank">学习</a>
            </div>
            <div class="hstack column-gap-4 justify-content-center">
                <a class="link-underline link-underline-opacity-0" href="/zh-cn/tools/zhgh/export/" target="_blank">数据导出</a>
            </div>
            <div class="hstack column-gap-4 justify-content-center">
                <a class="link-underline link-underline-opacity-0" href="/zh-cn/tools/zhgh/count/" target="_blank">汇总统计</a>
            </div>
        </div>
    </main>
{{ end }}