{{ define "content" }}
    <main class="pb-5 container-xxl" id="main">
        {{ .Content }}
        <div class="vstack row-gap-2 text-center">
            <a class="link-underline link-underline-opacity-0" href="/zh-cn/tools/zhgh/study/" target="_blank">学习</a>
            <a class="link-underline link-underline-opacity-0" href="/zh-cn/tools/zhgh/passwork/" target="_blank">闯关</a>
            <a class="link-underline link-underline-opacity-0" href="/zh-cn/tools/zhgh/member/" target="_blank">会员</a>
        </div>
    </main>
{{ end }}