{{ define "content" }}
    {{ partial "svg_sprite_icons/zhgh" }}
    <main class="pb-5 container-xxl" id="main">
        <div class="mx-auto py-5 col-12 col-sm-10 col-md-8 col-lg-6 col-xxl-4">
            <form class="py-4" id="data_count">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="managementCode" id="managementCode" placeholder=" " minlength="8" maxlength="128">
                        <label for="managementCode">
                            <svg class="me-1 text-body-secondary bi"><use href="#bi-key-fill"></use></svg>
                            管理码
                        </label>
                    </div>
                    <a class="input-group-text text-reset text-decoration-none toggleDisplay" href="javascript:" title="点击后显示密码">
                        <svg class="text-body-secondary bi"><use href="#bi-eye-slash-fill"></use></svg>
                    </a>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">查看信息</button>
                </div>
            </form>
        </div>
        {{ partial "zhgh/result" }}
    </main>
{{ end }}