<div class="mb-3 d-flex justify-content-between align-items-end">
    <span>邮箱登录</span>
    <a class="link-secondary text-decoration-none small" href="{{ absLangURL "demo/signup/email/" }}" title="没有账号，马上加入">没有账号，马上加入</a>
</div>
<form id="login_email">
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="text" class="form-control sendCaptchaTo" name="account" id="login_email_account" placeholder=" " minlength="6" maxlength="64" required>
            <label class="hstack" for="login_email_account"><svg class="me-1 text-body-secondary bi"><use href="#bi-envelope-at-fill"></use></svg>电子邮箱</label>
        </div>
        <a class="input-group-text text-decoration-none sendCaptcha" href="#" data-action="login" data-type="email">
            <span class="text-reset">发送验证码</span>
        </a>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="text" class="form-control" name="account_captcha" id="login_email_captcha" placeholder=" " minlength="5" maxlength="6" required>
            <label for="login_email_captcha">邮箱验证码</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <a class="p-0 input-group-text" href="javascript:" title="点击后刷新">
            <img class="lazyCaptcha" width="134" height="56" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://api.account.jzeg.net/captcha.php?a=login&v=" alt="验证码">
        </a>
        <div class="form-floating">
            <input type="text" class="form-control" name="captcha" id="email_login_captcha" placeholder=" " minlength="4" maxlength="5" required>
            <label for="email_login_captcha">验证码</label>
        </div>
    </div>
    <div class="mb-3 d-flex justify-content-between">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="remember" id="login_email_remember">
            <label class="form-check-label text-body-secondary" for="login_email_remember">7天内免登录</label>
        </div>
        <a class="link-secondary text-decoration-none small" href="{{ absLangURL "demo/find/email/" }}" title="忘记密码">忘记密码</a>
    </div>
    <input type="hidden" name="type" value="email">
    <div class="d-grid gap-2 col-8 mx-auto">
        <button class="btn btn-primary" type="submit">登录</button>
    </div>
</form>