:root,
[data-bs-theme=light] {
    --jg-post-more-bg-rgb: 255, 255, 255;
}

[data-bs-theme=dark] {
    --jg-post-more-bg-rgb: 0, 0, 0;
}

#tableOfContents-container .dropdown-menu {
    --bs-dropdown-min-width: 16.5rem;
}

#post-nav .prev:hover,
#post-nav .next:hover,
#post-nav > div:hover {
    color: var(--border-color);
    border-color: var(--border-color);
}

#post-content {
    overflow: hidden;
    max-height: 300rem;
    transition: max-height 2.35s ease-in-out;
}

.article_shrink {
    max-height: 60rem !important;
}

/* 文章篇幅展开 */
#post-content-more {
    z-index: 1018;
}

#post-content-more.shrink-post-content {
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0) 10%, rgba(var(--bs-body-bg-rgb), .75) 50%, rgba(var(--bs-body-bg-rgb), .95) 95%);
    margin-top: -15rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

#post-content-more.grow-post-content {
}
