:root,
[data-bs-theme=light] {
    --jg-post-more-bg-rgb: 255, 255, 255;
}

[data-bs-theme=dark] {
    --jg-post-more-bg-rgb: 0, 0, 0;
}

#post-nav .prev:hover,
#post-nav .next:hover,
#post-nav > div:hover {
    color: var(--border-color);
    border-color: var(--border-color);
}

#post-content-more {
    padding: 0 3rem;
}

#post-content {
    max-height: 60rem;
}

#post-content-more.hide-post-content {
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0) 10%, rgba(var(--bs-body-bg-rgb), .75) 50%, rgba(var(--bs-body-bg-rgb), .95) 95%);
    margin-top: -15rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
}
