<div class="nav nav-pills flex-row text-center" id="accountTab">
    <div class="col-4">
        <a class="nav-link active" href="javascript:" id="tab-login" data-bs-toggle="tab" data-bs-target="#accountPane-login">登录</a>
    </div>
    <div class="col-4">
        <a class="nav-link" href="javascript:" id="tab-signup" data-bs-toggle="tab" data-bs-target="#accountPane-signup">注册</a>
    </div>
    <div class="col-4">
        <a class="nav-link" href="javascript:" id="tab-find" data-bs-toggle="tab" data-bs-target="#accountPane-find">找回密码</a>
    </div>
    <div class="col-4">
        <a class="nav-link" href="javascript:" id="tab-reset" data-bs-toggle="tab" data-bs-target="#accountPane-reset">重置密码</a>
    </div>
    <div class="col-4">
        <a class="nav-link" href="javascript:" id="tab-change" data-bs-toggle="tab" data-bs-target="#accountPane-change">修改信息</a>
    </div>
    <div class="col-4">
        <a class="nav-link" href="javascript:" id="tab-logout" data-bs-toggle="tab" data-bs-target="#accountPane-logout">退出</a>
    </div>
</div>
<hr class="text-opacity-50">
<div class="tab-content" id="accountTabContent">
    <div class="tab-pane fade show active" id="accountPane-login" tabindex="0">
        {{ partial "demo/login/index" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-signup" tabindex="0">
        {{ partial "demo/signup/index" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-find" tabindex="0">
        {{ partial "demo/find/index" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-reset" tabindex="0">
        {{ partial "demo/reset/index" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-change" tabindex="0">
        {{ partial "demo/change/index" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-logout" tabindex="0">
        {{ partial "demo/logout/index" . }}
    </div>
</div>
