<div class="nav nav-pills flex-column" id="accountTab">
    <div class="d-flex flex-row">
        <a class="nav-link active" href="javascript:" id="tab-login-normal" data-bs-toggle="tab" data-bs-target="#accountPane-login-normal">用户名登录</a>
        <a class="nav-link" href="javascript:" id="tab-login-sms" data-bs-toggle="tab" data-bs-target="#accountPane-login-sms">手机登录</a>
        <a class="nav-link" href="javascript:" id="tab-login-email" data-bs-toggle="tab" data-bs-target="#accountPane-login-email">邮箱登录</a>
    </div>
    <div class="d-flex flex-row">
        <a class="nav-link" href="javascript:" id="tab-signup-normal" data-bs-toggle="tab" data-bs-target="#accountPane-signup-normal">用户名注册</a>
        <a class="nav-link" href="javascript:" id="tab-signup-sms" data-bs-toggle="tab" data-bs-target="#accountPane-signup-sms">手机注册</a>
        <a class="nav-link" href="javascript:" id="tab-signup-email" data-bs-toggle="tab" data-bs-target="#accountPane-signup-email">邮箱注册</a>
    </div>
    <div class="d-flex flex-row">
        <a class="nav-link" href="javascript:" id="tab-find_password-sms" data-bs-toggle="tab" data-bs-target="#accountPane-find_password-sms">短信找回密码</a>
        <a class="nav-link" href="javascript:" id="tab-find_password-email" data-bs-toggle="tab" data-bs-target="#accountPane-find_password-email">邮箱找回密码</a>
    </div>
    <div class="d-flex flex-row">
        <a class="nav-link" href="javascript:" id="tab-reset_password-sms" data-bs-toggle="tab" data-bs-target="#accountPane-reset_password-sms">手机重置密码</a>
        <a class="nav-link" href="javascript:" id="tab-reset_password-email" data-bs-toggle="tab" data-bs-target="#accountPane-reset_password-email">邮箱重置密码</a>
    </div>
    <div class="d-flex flex-row">
        <a class="nav-link" href="javascript:" id="tab-change_email" data-bs-toggle="tab" data-bs-target="#accountPane-change_email">修改邮箱</a>
        <a class="nav-link" href="javascript:" id="tab-change_phone" data-bs-toggle="tab" data-bs-target="#accountPane-change_phone">修改手机号</a>
        <a class="nav-link" href="javascript:" id="tab-change_password" data-bs-toggle="tab" data-bs-target="#accountPane-change_password">修改密码</a>
    </div>
    <div class="d-flex flex-row">
        <a class="nav-link" href="javascript:" id="tab-logout_normal" data-bs-toggle="tab" data-bs-target="#accountPane-logout_normal">正常退出</a>
    </div>
</div>
<div class="tab-content" id="accountTabContent">
    <div class="tab-pane fade show active" id="accountPane-login-normal" tabindex="0">
        {{ partial "demo/login/normal" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-login-sms" tabindex="0">
        {{ partial "demo/login/sms" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-login-email" tabindex="0">
        {{ partial "demo/login/email" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-signup-normal" tabindex="0">
        {{ partial "demo/signup/normal" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-signup-sms" tabindex="0">
        {{ partial "demo/signup/sms" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-signup-email" tabindex="0">
        {{ partial "demo/signup/email" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-find_password-sms" tabindex="0">
        {{ partial "demo/find/sms" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-find_password-email" tabindex="0">
        {{ partial "demo/find/email" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-reset_password-sms" tabindex="0">
        {{ partial "demo/reset/sms" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-reset_password-email" tabindex="0">
        {{ partial "demo/reset/email" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-change_password" tabindex="0">
        {{ partial "demo/change/password" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-change_email" tabindex="0">
        {{ partial "demo/change/email" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-change_phone" tabindex="0">
        {{ partial "demo/change/phone" . }}
    </div>
    <div class="tab-pane fade" id="accountPane-logout_normal" tabindex="0">
        {{ partial "demo/logout/normal" . }}
    </div>
</div>