<div class="nav nav-pills text-center" id="resetTab">
    <a class="col nav-link active" href="#pane-reset_password-sms" data-bs-toggle="tab">通过手机号</a>
    <a class="col nav-link" href="#pane-reset_password-email" data-bs-toggle="tab">通过邮箱</a>
</div>
<hr class="text-opacity-50">
<div class="tab-content" id="resetTabContent">
    <div class="tab-pane fade show active" id="pane-reset_password-sms" tabindex="0">
        {{ partial "demo/reset/sms" . }}
    </div>
    <div class="tab-pane fade" id="pane-reset_password-email" tabindex="0">
        {{ partial "demo/reset/email" . }}
    </div>
</div>