{{ with .Site.Params.icp }}
    <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-25-hover link-offset-3-hover" id="icp" href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow, noopener" title="ICP备案">{{- . -}}</a>
{{ end }}
{{ with .Site.Params.beian }}
    <a class="link-secondary link-underline link-underline-opacity-0 link-underline-opacity-25-hover link-offset-3-hover" id="gongan" href="/" target="_blank" rel="nofollow, noopener" title="公安备案">{{- . -}}</a>
{{ end }}