<div class="d-flex text-body-secondary flex-column row-gap-3 flex-md-row column-gap-md-5">
    <div class="w-25">
        <a class="mb-4 icon-link icon-link-hover link-underline-opacity-0 link-light" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
            <svg class="bi" width="16" height="16"><title>GitHub</title><use href="#bi-github"></use></svg>
            <span class="fs-5 text-nowrap">{{ .Site.Title }}</span>
        </a>
        <ul class="list-unstyled small">
            <li class="mb-3">发展才是硬道理</li>
        </ul>
    </div>
    <div class="row flex-md-grow-1">
        {{- if .Site.Params.footer_links.enable }}
        {{ $currentPage := .RelPermalink }}
        {{- range $title, $list := .Site.Params.footer_links.group }}
            <div class="col-6 col-md">
            <h6 class="mb-3">{{ $title | strings.FirstUpper }}</h6>
            <ul class="list-unstyled">
            {{- range $list }}
                {{- $text := index (split . " ") 0 }}
                {{- $href := index (split . " ") 1 }}
                {{- $relLangHref := printf "%s%s" ($href | relLangURL) "/" }}
                {{ if eq $currentPage $relLangHref }}
                    <li class="mb-3"><a class="link-success link-offset-2 link-underline-success link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ $relLangHref }}" title="{{ $text }}">{{ $text }}</a></li>
                {{ else }}
                    <li class="mb-3"><a class="link-secondary link-offset-2 link-underline-secondary link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ $relLangHref }}" title="{{ $text }}">{{ $text }}</a></li>
                {{ end }}
            {{- end }}
            </ul>
            </div>
        {{- end }}
        {{- end }}
    </div>
</div>