<div class="text-body-secondary row row-gap-3 column-gap-md-5">
    <div class="col-lg-2">
        <a class="mb-4 icon-link icon-link-hover link-underline-opacity-0 link-light" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
            <svg class="bi" width="16" height="16"><title>GitHub</title><use href="#bi-github"></use></svg>
            <span class="fs-5 text-nowrap">{{ .Site.Title }}</span>
        </a>
        <ul class="list-unstyled">
            <li class="mb-3">发展才是硬道理</li>
        </ul>
    </div>
    <div class="col-lg row row-gap-4 column-gap-md-5">
        {{- if .Site.Params.footer_links.enable }}
            {{ $currentPage := .RelPermalink }}
            {{- range $title, $list := .Site.Params.footer_links.group }}
                <div class="col-6 col-md">
                    <h6 class="mb-4 fw-bolder">{{ $title | strings.FirstUpper }}</h6>
                    <ul class="list-unstyled">
                        {{- range $list }}
                            {{- $text := index (split . " ") 0 }}
                            {{- $href := index (split . " ") 1 }}
                            {{- $relLangHref := printf "%s%s" ($href | relLangURL) "/" }}
                            {{ if eq $currentPage $relLangHref }}
                                <li class="mb-3"><a class="text-nowrap link-success link-underline-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover fw-bolder" href="{{ $relLangHref }}" title="{{ $text }}">{{ $text }}</a></li>
                            {{ else }}
                                <li class="mb-3"><a class="text-nowrap link-secondary link-underline-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ $relLangHref }}" title="{{ $text }}">{{ $text }}</a></li>
                            {{ end }}
                        {{- end }}
                    </ul>
                </div>
            {{- end }}
        {{- end }}
    </div>
</div>