<div class="container link-light link-opacity-10 link-opacity-50-hover">
    <div class="row row-gap-3 column-gap-md-5">
        <div class="col-lg-2">
            <a class="mb-4 icon-link icon-link-hover link-light link-opacity-75 link-underline-opacity-0" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                <svg class="bi" width="16" height="16"><title>GitHub</title><use href="#bi-github"></use></svg>
                <span class="fs-5 text-nowrap">{{ .Site.Title }}</span>
            </a>
            <ul class="list-unstyled text-nowrap">
                <li class="mb-3 link-light link-opacity-10 link-opacity-50-hover">凡是过往，皆为序章</li>
                <li class="mb-3 link-light link-opacity-10 link-opacity-50-hover">发展才是硬道理</li>
                <li class="mb-3 link-light link-opacity-10 link-opacity-50-hover">保持好奇、无知、热情和敬畏</li>
                {{- with .Site.Params.icp }}
                <li class="mb-3">
                    <a class="link-light link-opacity-10 link-opacity-50-hover link-offset-2-hover link-underline-opacity-0 link-underline-opacity-10-hover" id="icp" href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow, noopener" title="ICP备案">{{- . -}}</a>
                </li>
                {{- end -}}
                {{- with .Site.Params.beian }}
                <li class="mb-3">
                    <a class="link-light link-opacity-10 link-opacity-50-hover link-offset-2-hover link-underline-opacity-0 link-underline-opacity-10-hover" id="gongan" href="/" target="_blank" rel="nofollow, noopener" title="公安备案">{{- . -}}</a>
                </li>
                {{- end -}}
            </ul>
        </div>
        <div class="col-lg row row-gap-4 column-gap-md-5">
        {{- if .Site.Params.footerLinks.enable -}}
        {{- $currentPage := .RelPermalink -}}
        {{- $defaultLangCode := "zh-CN" -}}
        {{- $currentLangCode := .Site.Language.LanguageCode -}}

        {{- range .Site.Data.footerLinks -}}
        {{- $label := index .category.label $currentLangCode -}}
            <div class="col-6 col-md">
                <h6 class="mb-4 text-nowrap fw-bolder">{{ $label }}</h6>
                <ul class="list-unstyled">
                {{- range .category.group -}}
                {{- $name := index .name $currentLangCode -}}
                {{- $relLangHref := printf "%s%s" (.url | relLangURL) "/" -}}
                {{- if eq $currentPage $relLangHref -}}
                    <li class="mb-3"><a class="text-nowrap link-light link-opacity-50 link-opacity-25-hover link-offset-3 link-underline-opacity-10 fw-bolder" href="{{ $relLangHref }}" title="{{ $name }}">{{ $name }}</a></li>
                {{- else -}}
                    <li class="mb-3"><a class="text-nowrap link-light link-opacity-50 link-opacity-25-hover link-underline-opacity-0" href="{{ $relLangHref }}" title="{{ $name }}">{{ $name }}</a></li>
                {{- end -}}
                {{- end -}}
                </ul>
            </div>
        {{- end -}}
        {{- end }}
        </div>
    </div>
</div>