<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="bi-envelope-at" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
        <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
    </symbol>
</svg>
<section id="newsletter">
    <div class="container">
        <div class="rounded" style="background: var(--bs-linear-gradient-end);padding: 1px;">
            <div class="px-3 py-5 d-flex flex-column flex-md-row column-gap-md-3 text-bg-dark bg-opacity-100 rounded">
                <div class="col-12 col-md">
                    <h4 class="text-light-emphasis">订阅我们的新闻</h4>
                    <p class="text-secondary">通过邮箱地址，在我们发布较为重要的信息的时候，及时的收到提示</p>
                </div>
                <div class="col-12 col-md">
                    <form method="post" action="/">
                        <div class="my-4 text-bg-secondary rounded-2 overflow-hidden d-md-flex flex-md-row">
                            <div class="p-1 w-100">
                                <input class="w-100 h-100 px-3 border-0 rounded-2 bg-secondary-subtle" type="email" name="newsletterEmail" id="newsletterEmail" placeholder="Your email address" autocomplete="off" required style="outline-offset: 0px;">
                            </div>
                            <input type="hidden" id="newsletter_classification" name="classification" value="Practitioner" required>
                            <input type="hidden" id="newsletter_token" name="token" required>
                            <button class="px-3 py-1 lh-lg bg-secondary border-0 text-center text-nowrap d-md-flex flex-row justify-content-center align-items-center" type="submit" style="outline-offset: -4px;">
                                <span class="me-2" style="background: var(--bs-linear-gradient-top);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: rgba(0,0,0,0);">订阅</span>
                                <svg class="bi" width="16" height="16"><title>订阅</title><use href="#bi-envelope-at"></use></svg>
                            </button>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                            <label class="form-check-label link-secondary link-opacity-25 link-opacity-100-hover" for="flexCheckDefault">
                                <p class="mb-2">是的，我知道这次操作和账号信息无关。</p>
                                <p class="mb-2">我希望使用我的信息进行个性化通信、有针对性的广告和活动效果。有关更多详细信息，请参阅隐私声明。</p>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>