{{ define "content" }}
    {{ partial "zhgh/svg_sprite_icons" }}
    <main class="pb-5 container-xxl" id="main">
        <div class="col-12 col-lg-8 col-xxl-6">
            <form class="py-4" id="userInfo">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" name="account" id="account" placeholder=" " minlength="11" maxlength="11" autocomplete="off" required>
                        <label for="account">
                            <svg class="me-1 fs-5 text-body-secondary bi"><use href="#bi-phone"></use></svg>
                            手机号
                        </label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password" placeholder=" " minlength="6" maxlength="20" autocomplete="off" required>
                        <label for="password">
                            <svg class="me-1 fs-5 text-body-secondary bi"><use href="#bi-key-fill"></use></svg>
                            密码
                        </label>
                    </div>
                    <a class="input-group-text text-reset text-decoration-none toggleDisplay" href="javascript:" title="点击后显示密码">
                        <svg class="text-body-secondary bi fs-5"><use href="#bi-eye-slash-fill"></use></svg>
                    </a>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">查看信息</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-10 col-lg-8 col-xxl-6">
            <div class="card">
                <div class="card-header fw-medium fs-5">结果</div>
                <div class="card-body px-0" id="resultTable"></div>
            </div>
        </div>
        <div class="py-5 col-12 col-md-10 col-lg-8 col-xxl-6">
            <div class="card">
                <div class="card-header">页面工具</div>
                <div class="card-body d-flex justify-content-center column-gap-3">
                    <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover" href="javascript:" id="refreshPage">刷新页面</a>
                    <a class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover" href="javascript:" id="newTabPage" target="_blank">新选项卡打开页面</a>
                </div>
            </div>
        </div>
    </main>
{{ end }}