{{ define "content" }}
    <main class="pb-5 container-xxl" id="main">
        <div class="mx-auto py-5 col-12 col-md-10 col-lg-8 col-xxl-6">
            <form class="d-flex flex-column row-gap-4 mb-3" id="favourite_form">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">将相应的内容取消收藏（包含点赞）</span>
                    </div>
                    <div class="card-body d-flex flex-column row-gap-4">
                        <div class="border rounded p-3 d-flex flex-row row-gap-2 column-gap-3">
                            <div>
                                <input class="btn-check" type="radio" name="type" value="profile" id="type_profile">
                                <label class="btn" for="type_profile">服务发展</label>
                            </div>
                            <div>
                                <input class="btn-check" type="radio" name="type" value="video" id="type_video">
                                <label class="btn" for="type_video">我的短视频</label>
                            </div>
                            <div>
                                <input class="btn-check" type="radio" name="type" value="news" id="type_news">
                                <label class="btn" for="type_news">信息联动</label>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">取消收藏</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
{{ end }}