<div class="nav nav-pills text-center" id="find_passwordTab">
    <a class="col nav-link active" href="#pane-find_password-sms" data-bs-toggle="tab">短信找回密码</a>
    <a class="col nav-link" href="#pane-find_password-email" data-bs-toggle="tab">邮箱找回密码</a>
</div>
<hr class="text-opacity-50">
<div class="tab-content" id="find_passwordTabContent">
    <div class="tab-pane fade show active" id="pane-find_password-sms" tabindex="0">
        {{ partial "demo/find/sms" . }}
    </div>
    <div class="tab-pane fade" id="pane-find_password-email" tabindex="0">
        {{ partial "demo/find/email" . }}
    </div>
</div>