{{ define "content" }}
    {{ partial "svg_sprite_icons/zhgh" }}
    <main class="pb-5 container-xxl" id="main">
        <div class="d-flex flex-column align-items-center">
            <ol class="small fw-bold text-secondary-emphasis">
                <li>工具仅限测试使用，请勿传播，请勿用于商业用途</li>
                <li>工具尽力完善，但请理解，没有完美的辅助工具，请合理使用</li>
                <li>使用需要单独授权，使用前请联系管理员，联系方式参见最后提示</li>
                <li>所有工种都可使用，闯关类别可自定义，请合理选择</li>
                <li class="text-primary">重要：第一次答题，因为是闯关模式，请务必按照关卡顺序答题</li>
                <li>速度并非越快越好，请合理选择</li>
                <li>可以复制默认密码前缀：<span class="mx-1 text-success-emphasis">Jzgf@</span></li>
                <li>每日答题时长的上限是60分钟，请合理配速</li>
                <li>自动闯关默认为关闭，开启后可以自动进行下一关</li>
                <li>循环模式默认为开启，功能是可以自动循环答题，不需要等待答题完毕，默认为15次，可自定义，请根据时间选择合理较小次数</li>
                <li>关闭循环模式后，即可在完成本轮答题后，不再自动进行下一轮</li>
                <li>达到每日答题时长上限时，请停止当天的答题</li>
                <li>点击开始答题后，刷新页面不会停止答题，但是会丢失当前的设置</li>
                <li>循环答题开始后，手机端尽量保持本页面可见，理论支持分屏使用，PC段下，请尽量使用分屏，否则可能会出现无法答题的情况，可自行尝试</li>
                <li>微信号：<span class="text-warning-emphasis">JZEG-NET</span></li>
            </ol>
        </div>
        <div class="mx-auto py-5 col-12 col-sm-10 col-md-8 col-lg-6 col-xxl-4">
            <form class="py-4" id="passwork_login">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" name="account" id="account" placeholder=" " minlength="11" maxlength="11" required>
                        <label for="account">
                            <svg class="me-1 text-body-secondary bi"><use href="#bi-phone"></use></svg>
                            手机号
                        </label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password" placeholder=" " minlength="6" maxlength="20" value="Jzgf@" required>
                        <label for="password">
                            <svg class="me-1 text-body-secondary bi"><use href="#bi-key-fill"></use></svg>
                            密码
                        </label>
                    </div>
                    <a class="input-group-text text-reset text-decoration-none toggleDisplay" href="javascript:" title="点击后显示密码">
                        <svg class="text-body-secondary bi"><use href="#bi-eye-slash-fill"></use></svg>
                    </a>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <select class="form-select" name="jobName" id="throughSelect" aria-label="Floating label select example" required>
                            <option value="" selected disabled>选择工种</option>
                        </select>
                        <label for="throughSelect">闯关工种</label>
                    </div>
                </div>
                <div class="input-group mb-3 flex-nowrap">
                    <label for="level" class="input-group-text">关数</label>
                    <input type="number" name="level" class="input-group-text" min="1" max="30" step="1" value="0" id="level" required>
                    <span class="input-group-text w-100">
                        <input type="range" class="form-range" min="1" max="30" step="1" value="0" id="levels_range" aria-label="滑动选择关数">
                    </span>
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" role="switch" id="automaticNextLevel">
                    <label class="form-check-label" for="automaticNextLevel">
                        <span class="switchEnableText">自动进入下一关</span>
                        <span class="switchDisableText">禁用自动闯关</span>
                    </label>
                </div>
                <div class="input-group input-group-sm mb-3 flex-nowrap">
                    <span class="input-group-text">速度</span>
                    <span class="input-group-text flex-wrap row-cols-3 row-gap-2">
                        <input type="radio" class="btn-check" name="speed" value="7s" id="speed_7s">
                        <label class="btn btn-sm" for="speed_7s">7S</label>
                        <input type="radio" class="btn-check" name="speed" value="6s" id="speed_6s">
                        <label class="btn btn-sm" for="speed_6s">6S</label>
                        <input type="radio" class="btn-check" name="speed" value="5s" id="speed_5s">
                        <label class="btn btn-sm" for="speed_5s">5S</label>
                        <input type="radio" class="btn-check" name="speed" value="4s" id="speed_4s">
                        <label class="btn btn-sm" for="speed_4s">4S</label>
                        <input type="radio" class="btn-check" name="speed" value="3s" id="speed_3s">
                        <label class="btn btn-sm" for="speed_3s">超快</label>
                        <input type="radio" class="btn-check" name="speed" value="2s" id="speed_2s">
                        <label class="btn btn-sm" for="speed_2s">更快</label>
                        <input type="radio" class="btn-check" name="speed" value="s" id="speed_s">
                        <label class="btn btn-sm" for="speed_s">较快</label>
                        <input type="radio" class="btn-check" name="speed" value="base" id="speed_base" required checked>
                        <label class="btn btn-sm" for="speed_base">默认</label>
                        <input type="radio" class="btn-check" name="speed" value="xl" id="speed_xl">
                        <label class="btn btn-sm" for="speed_xl">较慢</label>
                        <input type="radio" class="btn-check" name="speed" value="2xl" id="speed_2xl">
                        <label class="btn btn-sm" for="speed_2xl">更慢</label>
                        <input type="radio" class="btn-check" name="speed" value="3xl" id="speed_3xl">
                        <label class="btn btn-sm" for="speed_3xl">超慢</label>
                        <input type="radio" class="btn-check" name="speed" value="4xl" id="speed_4xl">
                        <label class="btn btn-sm" for="speed_4xl">4XL</label>
                        <input type="radio" class="btn-check" name="speed" value="5xl" id="speed_5xl">
                        <label class="btn btn-sm" for="speed_5xl">5XL</label>
                        <input type="radio" class="btn-check" name="speed" value="6xl" id="speed_6xl">
                        <label class="btn btn-sm" for="speed_6xl">6XL</label>
                        <input type="radio" class="btn-check" name="speed" value="7xl" id="speed_7xl">
                        <label class="btn btn-sm" for="speed_7xl">7XL</label>
                    </span>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">开始答题</button>
                    <p class="text-center">计时：<span id="submit_timer">0</span>秒</p>
                </div>
                <div class="card" id="auto">
                    <div class="card-body d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center row-gap-2 column-gap-3">
                        <div class="col-12 col-sm-5 d-flex justify-content-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="autoSubmit" checked data-bs-toggle="collapse" data-bs-target="#autoSubmitConfig">
                                <label class="form-check-label" for="autoSubmit">
                                    <!--<span class="switchDefaultText">默认</span>-->
                                    <span class="switchEnableText">循环模式</span>
                                    <span class="switchDisableText">手动答题</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-sm collapse show" id="autoSubmitConfig">
                            <div class="d-flex flex-column row-gap-2">
                                <div class="input-group">
                                    <label class="input-group-text" for="autoSubmitTotalTimes">循环次数</label>
                                    <input class="form-control" type="number" value="15" id="autoSubmitTotalTimes" min="1" max="30" step="1" maxlength="2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {{ partial "zhgh/result" }}
        {{ partial "zhgh/page_tools" }}
    </main>
{{ end }}