<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="bi-dash-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
    </symbol>
    <symbol id="bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
    </symbol>
</svg>
{{ range .Site.Menus.font_size }}
{{ if .HasChildren }}
<button class="btn btn-link nav-link d-flex align-items-center" type="button" title="{{ .Params.toggle_text }}" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static" data-bs-font_size="switcher">
    <svg class="bi my-1 fontSize-icon-active" width="16" height="16"><title>{{ .Params.toggle_text }}</title><use href="#bi-fonts"></use></svg>
    <span class="d-lg-none ms-2" id="fontSizeSwitcher-text">{{- .Name | safeHTML -}}</span>
</button>
{{ end }}
{{ end }}
<div class="dropdown-menu dropdown-menu-start dropdown-menu-md-end" style="--bs-dropdown-min-width:20rem;--bs-dropdown-padding-x:0;">
    <ul class="list-group list-group-flush" aria-labelledby="fontSizeSwitcher-text">
        <li class="list-group-item list-group-item-action fontSizeSlider">
            <div class="text-center mb-2">
                <span class="text-secondary">当前字体尺寸：</span><span class="currentFontSize text-secondary"></span>
            </div>
            <div class="hstack justify-content-between">
                <button type="button" class="btn btn-sm btn-outline-secondary fontSizeSliderController controllerDown">
                    <svg class="bi fs-4" width="16" height="16"><title>减少</title><use href="#bi-dash-lg"></use></svg>
                </button>
                <input type="range" class="form-range fontSizeRangeInput" min="0" max="14" step="1" style="width: 13rem" aria-label="滑动调节字体尺寸">
                <button type="button" class="btn btn-sm btn-outline-secondary fontSizeSliderController controllerUp">
                    <svg class="bi fs-4" width="16" height="16"><title>增加</title><use href="#bi-plus-lg"></use></svg>
                </button>
            </div>
        </li>
    </ul>
</div>