{{ if eq .Site.Params.theme.enable true }}
    <li class="nav-item col-6 col-lg-auto dropdown">
        {{ partial "navbar/v1/secondary/tool/theme" . }}
    </li>
{{ end }}

{{ if eq .Site.Params.palette.enable true }}
    <li class="nav-item col-6 col-lg-auto dropdown">
        {{ partial "navbar/v1/secondary/tool/palette" . }}
    </li>
{{ end }}

{{ if eq .Site.Params.font.enable true }}{{ if eq .Site.Params.font.size.enable true }}
    <li class="nav-item col-6 col-lg-auto dropdown">
        {{ partial "navbar/v1/secondary/tool/font_size" . }}
    </li>
{{ end }}{{ end }}

{{ if .Site.IsMultiLingual }}
    <li class="nav-item col-6 col-lg-auto dropdown">
        {{ partial "navbar/v1/secondary/tool/language" . }}
    </li>
{{ end }}