{{ define "body_override" }}<body class="bg-body vh-100 overflow-hidden">{{ end }}
{{ define "content" }}
    <main class="container-fluid gx-0" id="content">
        {{- partial "policies/menu" . -}}
        <div class="d-flex flex-lg-row">
            <div class="col-md-3 col-lg-2">
                <div class="overflow-x-hidden overflow-y-scroll h-100 border-end border-secondary-subtle">
                    <div class="vh-100">
                        <div class="px-3">
                            <ul class="my-4 list-unstyled border-start border-2 d-flex flex-column row-gap-3">
                                <li class="border-start border-2 border-info-subtle" style="margin-left: -2px;">
                                    <a class="d-block px-3 py-2 bg-gradient link-secondary link-opacity-50 link-opacity-75-hover link-underline-opacity-0" href="#">l-1</a>
                                </li>
                                <li class="">
                                    <a class="d-block px-3 py-2 bg-gradient link-secondary link-opacity-50 link-opacity-75-hover link-underline-opacity-0" href="#">l-2</a>
                                </li>
                                <li class="">
                                    <a class="d-block px-3 py-2 bg-gradient link-secondary link-opacity-50 link-opacity-75-hover link-underline-opacity-0" href="#">l-3</a>
                                </li>
                                <li class="">
                                    <a class="d-block px-3 py-2 bg-gradient link-secondary link-opacity-50 link-opacity-75-hover link-underline-opacity-0" href="#">l-4</a>
                                </li>
                                <li class="">
                                    <a class="d-block px-3 py-2 bg-gradient link-secondary link-opacity-50 link-opacity-75-hover link-underline-opacity-0" href="#">l-5</a>
                                </li>
                            </ul>
                        </div>
                        <div class="border-top border-secondary-subtle"></div>
                        <div class="px-3">
                            <ul class="my-4 list-unstyled d-flex flex-column row-gap-3">
                                <li><a class="d-block px-3 py-2 link-secondary link-opacity-50-hover link-underline-opacity-0" href="{{ "updates/" }}">更新记录</a></li>
                                <li><a class="d-block px-3 py-2 link-secondary link-opacity-50-hover link-underline-opacity-0" href="{{ "archive/" }}">存档记录</a></li>
                            </ul>
                        </div>
                        <div class="h-25"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="overflow-x-hidden overflow-y-scroll h-100">
                    <div class="my-4 px-4 pe-5 vh-100">
                        <h1>{{ .Title }}</h1>
                        <div class="py-3 d-flex align-items-stretch text-secondary-emphasis">
                            <div class="d-flex flex-column row-gap-2">
                                <span>更新时间：{{ .Lastmod | time.Format "2006-01-02" }}</span>
                                <span>生效时间：{{ .Page.Params.effective | time.Format "2006-01-02" }}</span>
                            </div>
                            <span class="mx-2"><span class="vr h-100 text-light-emphasis" style="--bs-border-width:2px;"></span></span>
                            <div class="d-flex align-items-center">
                                <a class="link-secondary link-opacity-75-hover link-underline-opacity-0" href="updates/">更新记录</a>
                                <span class="mx-2 align-self-stretch"><span class="vr h-100 text-light-emphasis" style="--bs-border-width:2px;"></span></span>
                                <a class="link-secondary link-opacity-75-hover link-underline-opacity-0" href="archive/">归档版本</a>
                            </div>
                        </div>
                        <div class="py-4 text-light-emphasis">
                            {{- .Content }}
                        </div>
                        <div class="h-25"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{{ end }}