
.msg-container {
  --bs-msg-border-width: var(--bs-border-width);
  --bs-msg-border-style: var(--bs-border-style);
  --bs-msg-border-color: var(--bs-border-color);
  --bs-msg-border: var(--bs-msg-border-width) var(--bs-msg-border-style) var(--bs-msg-border-color);
  --bs-msg-border-radius: var(--bs-border-radius);
  --bs-msg-bg-color: var(--bs-heading-color);
  --bs-msg-icon-bg-color: var(--bs-heading-color);
  --bs-msg-text-color: var(--bs-body-color);
  --bs-msg-link-color: var(--bs-body-color);
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.msg-container.msg-primary {
  --bs-msg-border-color: var(--bs-primary-border-subtle);
  --bs-msg-icon-bg-color: var(--bs-primary-bg-subtle);
  --bs-msg-text-color: var(--bs-primary-text-emphasis);
  --bs-msg-link-color: var(--bs-primary-text-emphasis);
}

.msg-container.msg-secondary {
  --bs-msg-border-color: var(--bs-secondary-border-subtle);
  --bs-msg-icon-bg-color: var(--bs-secondary-bg-subtle);
  --bs-msg-text-color: var(--bs-secondary-text-emphasis);
  --bs-msg-link-color: var(--bs-secondary-text-emphasis);
}

.msg-container.msg-success {
  --bs-msg-border-color: var(--bs-success-border-subtle);
  --bs-msg-icon-bg-color: var(--bs-success-bg-subtle);
  --bs-msg-text-color: var(--bs-success-text-emphasis);
  --bs-msg-link-color: var(--bs-success-text-emphasis);
}

.msg-container.msg-danger {
  --bs-msg-border-color: var(--bs-danger-border-subtle);
  --bs-msg-icon-bg-color: var(--bs-danger-bg-subtle);
  --bs-msg-text-color: var(--bs-danger-text-emphasis);
  --bs-msg-link-color: var(--bs-danger-text-emphasis);
}

.msg-container.msg-warning {
  --bs-msg-border-color: var(--bs-warning-border-subtle);
  --bs-msg-icon-bg-color: var(--bs-warning-bg-subtle);
  --bs-msg-text-color: var(--bs-warning-text-emphasis);
  --bs-msg-link-color: var(--bs-warning-text-emphasis);
}

.msg-container.msg-info {
  --bs-msg-border-color: var(--bs-info-border-subtle);
  --bs-msg-icon-bg-color: var(--bs-info-bg-subtle);
  --bs-msg-text-color: var(--bs-info-text-emphasis);
  --bs-msg-link-color: var(--bs-info-text-emphasis);
}

.msg-container.msg-light {
  --bs-msg-border-color: var(--bs-light-border-subtle);
  --bs-msg-icon-bg-color: var(--bs-light-bg-subtle);
  --bs-msg-text-color: var(--bs-light-text-emphasis);
  --bs-msg-link-color: var(--bs-light-text-emphasis);
}

.msg-container.msg-dark {
  --bs-msg-border-color: var(--bs-dark-border-subtle);
  --bs-msg-icon-bg-color: var(--bs-dark-bg-subtle);
  --bs-msg-text-color: var(--bs-dark-text-emphasis);
  --bs-msg-link-color: var(--bs-dark-text-emphasis);
}

.msg-container > .msg-icon {
  display: flex;
  align-items: center;
  padding-inline: .5rem;
  border: var(--bs-msg-border);
  border-inline-end: 0;
  border-start-start-radius: var(--bs-msg-border-radius);
  border-end-start-radius: var(--bs-msg-border-radius);
  background-color: var(--bs-msg-icon-bg-color);
  color: var(--bs-msg-text-color);
}

.msg-container > .msg-icon:not(:has(*)) {
  padding-inline: .2rem;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  background-color: var(--bs-msg-border-color);
}

.msg-container > .msg-content {
  --bs-msg-content-bg-color: var(--bs-msg-bg-color);
  display: flex;
  align-items: center;
  padding-block: 5px;
  padding-inline: 15px;
  border: var(--bs-msg-border);
  border-inline: 0;
  background-color: var(--bs-msg-content-bg-color);
  color: var(--bs-msg-text-color);
}

.msg-container:not(:has(.msg-icon)) > .msg-content {
  border-inline-start: var(--bs-msg-border);
  border-start-start-radius: var(--bs-msg-border-radius);
  border-end-start-radius: var(--bs-msg-border-radius);
}

.msg-container:not(:has(.msg-dismiss)) > .msg-content {
  border-inline-end: var(--bs-msg-border);
  border-start-end-radius: var(--bs-msg-border-radius);
  border-end-end-radius: var(--bs-msg-border-radius);
}

.msg-container .msg-dismiss .btn-close {
  background: var(--bs-btn-close-color);
  mask-image: var(--bs-btn-close-bg);
}

.msg-container.msg-primary .btn-close {
  --bs-btn-close-color: var(--bs-primary-text-emphasis);
}

.msg-container.msg-secondary .btn-close {
  --bs-btn-close-color: var(--bs-secondary-text-emphasis);
}

.msg-container.msg-success .btn-close {
  --bs-btn-close-color: var(--bs-success-text-emphasis);
}

.msg-container.msg-danger .btn-close {
  --bs-btn-close-color: var(--bs-danger-text-emphasis);
}

.msg-container.msg-warning .btn-close {
  --bs-btn-close-color: var(--bs-warning-text-emphasis);
}

.msg-container.msg-info .btn-close {
  --bs-btn-close-color: var(--bs-info-text-emphasis);
}

.msg-container.msg-light .btn-close {
  --bs-btn-close-color: var(--bs-light-text-emphasis);
}

.msg-container.msg-dark .btn-close {
  --bs-btn-close-color: var(--bs-dark-text-emphasis);
}

.msg-container > .msg-dismiss {
  --bs-msg-dismiss-bg-color: var(--bs-msg-bg-color);
  display: flex;
  align-items: center;
  padding-inline: calc(0.25rem + 4px);
  border: var(--bs-msg-border);
  border-inline-start: 0;
  border-start-end-radius: var(--bs-msg-border-radius);
  border-end-end-radius: var(--bs-msg-border-radius);
  background-color: var(--bs-msg-dismiss-bg-color);
  color: var(--bs-msg-text-color);
}
