.bulletin {
    /*width: 100%;*/
    height: 20vh;
    overflow: hidden;
    overflow-y: scroll;
}

.bulletin-animation:hover,
.bulletin:hover .bulletin-animation {
    animation-play-state: paused !important;
}

.animation-paused {
    animation-play-state: paused;
}

.list-group-numbered.bulletin-inner > :nth-child(n)::before {
    margin-right: .2rem;
}

.list-group-numbered.bulletin-inner > :nth-child(n) > a,
.list-group-numbered.bulletin-inner > :nth-child(n)::before {
    color: #35ce0b !important;
}

.list-group-numbered.bulletin-inner > :nth-child(1) > a,
.list-group-numbered.bulletin-inner > :nth-child(1)::before {
    color: #8a2be2 !important;
}

.list-group-numbered.bulletin-inner > :nth-child(2) > a,
.list-group-numbered.bulletin-inner > :nth-child(2)::before {
    color: #ff0000 !important;
}

.list-group-numbered.bulletin-inner > :nth-child(3) > a,
.list-group-numbered.bulletin-inner > :nth-child(3)::before {
    color: #c00a5c !important;
}

.bulletin-animation {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.bulletin-animation > *::marker {
    padding-left: 29px;
}

.delay-1s {
    animation-delay: 1s;
}

.delay-3s {
    animation-delay: 3s;
}

.delay-5s {
    animation-delay: 5s;
}

.duration-5s {
    animation-duration: 5s;
}

.duration-10s {
    animation-duration: 10s;
}

.duration-20s {
    animation-duration: 20s;
}

.duration-30s {
    animation-duration: 20s;
}

.duration-s {
    animation-duration: 15s;
}

@media (min-width: 576px) {
    .duration-s {
        animation-duration: 20s;
    }
}

@media (min-width: 768px) {
    .duration-s {
        animation-duration: 25s;
    }
}

@media (min-width: 992px) {
    .duration-s {
        animation-duration: 30s;
    }
}

@media (min-width: 1200px) {
    .duration-s {
        animation-duration: 35s;
    }
}

@media (min-width: 1400px) {
    .duration-s {
        animation-duration: 40s;
    }
}

.animationName-marquee {
    animation-name: marquee;
    padding-left: 100%;
}

.animationName-marquee-top {
    animation-name: marquee-top;
    padding-top: 50%;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
