<div class="border rounded text-center position-fixed end-0 bottom-0" id="float-tools">
    <a class="overflow-hidden text-body-tertiary text-decoration-none" href="javascript:" title="捐赠本站" id="tool-qrcode" data-donate="qrcode">
        <span class="w-100 h-100">
            <i class="fa-lg fa-fw bi bi-qr-code"></i>
        </span>
    </a>
    <hr class="m-0 border border-secondary">
    <a class="overflow-hidden text-body-tertiary text-decoration-none" href="#top" title="{{ T "back_to_top" }}" id="back-to-top">
        <span class="w-100 h-100">
            <i class="fa-lg fa-fw bi bi-arrow-up"></i>
        </span>
        <span class="w-100 h-100">{{ T "back_to_top" }}</span>
    </a>
</div>