<div class="border rounded text-center position-fixed end-0 bottom-0 hide" id="float-tools">
    <a class="overflow-hidden text-body-tertiary text-decoration-none" href="javascript:" title="捐赠本站" id="tool-qrcode" data-donate="qrcode">
        <span><i class="fa-lg fa-fw bi bi-qr-code"></i></span>
    </a>
    <hr class="m-0 border border-secondary">
    <a class="overflow-hidden text-body-tertiary text-decoration-none" title="{{ T "collapse_tools" }}" id="tools" data-bs-toggle="collapse" href="#tools-collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
            <span><i class="fa-lg fa-fw bi bi-sliders"></i></span>
    </a>
    <div class="me-1 position-fixed bottom-0 end-100 h-100 collapse collapse-horizontal" id="tools-collapse">
        <ul class="list-group list-group-horizontal align-items-center h-100">
            <li class="list-group-item list-group-item-action">1</li>
            <li class="list-group-item list-group-item-action">2</li>
            <li class="list-group-item list-group-item-action">3</li>
        </ul>
    </div>
    <hr class="m-0 border border-secondary">
    <a class="overflow-hidden text-body-tertiary text-decoration-none" href="javascript:" title="{{ T "collapse_to_right" }}" id="collapse-to-right">
        <span><i class="fa-lg fa-fw bi bi-arrow-bar-right"></i></span>
    </a>
    <hr class="m-0 border border-secondary">
    <a class="overflow-hidden text-body-tertiary text-decoration-none" href="#top" title="{{ T "back_to_top" }}" id="back-to-top">
        <span><i class="fa-lg fa-fw bi bi-arrow-up"></i></span>
        <span>{{ T "back_to_top" }}</span>
    </a>
</div>