<div class="text-center position-fixed end-50 bottom-0 hide" id="float-tools">
    <div class="d-flex flex-row">
        <ul class="list-group">
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <a class="text-reset" href="javascript:" title="捐赠本站" id="tool-qrcode" data-donate="qrcode">
                    <span><i class=" bi-qr-code"></i></span>
                </a>
            </li>
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <a class="text-reset" title="{{ T "collapse_tools" }}" id="tools" data-bs-toggle="collapse" href="#tools-collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <span><i class=" bi-sliders"></i></span>
                </a>
            </li>
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <a class="text-reset" href="javascript:" title="{{ T "collapse_to_right" }}" id="collapse-to-right">
                    <span><i class=" bi-arrow-bar-right"></i></span>
                </a>
            </li>
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <a class="text-reset" href="#top" title="{{ T "back_to_top" }}" id="back-to-top">
                    <span><i class=" bi-arrow-up"></i></span>
                </a>
            </li>
        </ul>
        <div class="bottom-0 end-100 h-25 collapse collapse-horizontal" id="tools-collapse">
            <ul class="list-group list-group-horizontal align-items-center h-100">
                <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                    <a class="text-reset" href="#tools-languageSwitcher" data-bs-toggle="collapse">
                        <span><svg class="bi"><title>翻译</title><use href="#translate"></use></svg></span>
                    </a>
                </li>
                <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                    <a class="text-reset" href="#tools-themeSwitcher" data-bs-toggle="collapse">
                        <span><svg class="bi"><title>主题</title><use href="#circle-half"></use></svg></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-100 w-50 collapse" id="tools-languageSwitcher">
        <ul class="list-group align-items-center h-100">
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <a class="d-flex align-items-center" href="/zh-cn/" data-language-value="zh-cn">
                    <i class="bi fi fi-cn"></i>
                </a>
            </li>
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <a class="d-flex align-items-center" href="/en-us/" data-language-value="en-us">
                    <i class="bi fi fi-us"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="position-fixed top-0 start-50 w-50 collapse" id="tools-themeSwitcher">
        <ul class="list-group align-items-center h-100">
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <button class="d-flex align-items-center" type="button" data-bs-theme-value="light" aria-pressed="false">
                    <svg class="bi"><title>明亮</title><use href="#sun-fill"></use></svg>
                </button>
            </li>
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <button class="d-flex align-items-center active" type="button" data-bs-theme-value="dark" aria-pressed="true">
                    <svg class="bi"><title>黑暗</title><use href="#moon-stars-fill"></use></svg>
                </button>
            </li>
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <button class="d-flex align-items-center" type="button" data-bs-theme-value="auto" aria-pressed="false">
                    <svg class="bi"><title>自动</title><use href="#circle-half"></use></svg>
                </button>
            </li>
            <li class="p-2 p-md-3 fs-4 lh-1 list-group-item list-group-item-action bg-transparent">
                <button class="d-flex align-items-center" type="button" data-bs-theme-value="auto" aria-pressed="false">
                    <svg class="bi"><title>自动</title><use href="#circle-half"></use></svg>
                </button>
            </li>
        </ul>
    </div>
</div>