<div class="position-fixed end-0 bottom-0 hide" id="float-tools">
    <div class="btn-group-vertical dropstart" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-primary bg-transparent" data-donate="qrcode">
            <i class="bi bi-qr-code"></i>
        </button>
        <button type="button" class="btn btn-primary bg-transparent" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-sliders"></i>
        </button>
        <ul class="p-0 dropdown-menu">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-primary bg-transparent" data-bs-toggle="dropdown" aria-expanded="false">
                        <span><svg class="bi"><title>翻译</title><use href="#translate"></use></svg></span>
                    </button>
                    <ul class="p-0 dropdown-menu"></ul>
                </div>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-primary bg-transparent" data-bs-toggle="dropdown" aria-expanded="false">
                        <span><svg class="bi"><title>主题</title><use href="#circle-half"></use></svg></span>
                    </button>
                    <ul class="p-0 dropdown-menu">
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-primary bg-transparent">
                                <svg class="bi"><title>明亮</title><use href="#sun-fill"></use></svg>
                            </button>
                            <button type="button" class="btn btn-primary bg-transparent">
                                <svg class="bi"><title>黑暗</title><use href="#moon-stars-fill"></use></svg>
                            </button>
                            <button type="button" class="btn btn-primary bg-transparent">
                                <svg class="bi"><title>自动</title><use href="#circle-half"></use></svg>
                            </button>
                        </div>
                    </ul>
                </div>
            </div>
        </ul>
        <button type="button" class="btn btn-primary bg-transparent" id="collapse-to-right">
            <i class="bi bi-arrow-bar-right"></i>
        </button>
        <a href="#top" class="btn btn-primary bg-transparent"><i class="bi bi-arrow-up"></i></a>
    </div>
</div>