<div class="mb-3 d-flex justify-content-between align-items-end">
    <span class="fs-4">手机号登录</span>
    <a class="link-secondary text-decoration-none small" href="{{ absLangURL "demo/signup/sms/" }}" title="没有账号，马上加入">没有账号，马上加入</a>
</div>
<form id="login_sms">
    <div class="input-group mb-3">
        <button class="input-group-text idd_code" type="button">
            <input type="hidden" name="idd_code" value="+86" required>
            <span>+86</span>
        </button>
        <div class="form-floating">
            <input type="text" class="form-control sendCaptchaTo" name="account" id="login_sms_account" placeholder=" " minlength="11" maxlength="11" required>
            <label for="login_sms_account"><i class="me-1 fa-fw fa fa-mobile-alt text-body-secondary"></i>手机号码</label>
        </div>
        <a class="input-group-text text-decoration-none sendCaptcha" href="#" data-action="login" data-type="sms">
            <span class="text-reset">发送验证码</span>
        </a>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="text" class="form-control" name="account_captcha" id="login_sms_captcha" placeholder=" " minlength="5" maxlength="6" required>
            <label for="login_sms_captcha">短信验证码</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <a class="p-0 input-group-text" href="javascript:" title="点击后刷新">
            <img class="lazyCaptcha" width="134" height="56" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/api/captcha.php?a=login&v=" alt="验证码">
        </a>
        <div class="form-floating">
            <input type="text" class="form-control" name="captcha" id="sms_login_captcha" placeholder=" " minlength="4" maxlength="5" required>
            <label for="sms_login_captcha">验证码</label>
        </div>
    </div>
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div class="form-check">
            <input class="form-check-input agreement" type="checkbox" name="agreement" id="login_sms_agreement" required>
            <label class="form-check-label text-body-secondary" for="login_sms_agreement">
                <span>新手机号，登录即代表同意</span>
                <a class="text-decoration-none text-body-secondary" href="{{ absLangURL "demo/agreement/" }}" target="_blank">《会员协议》</a>
            </label>
        </div>
        <a class="link-secondary text-decoration-none small" href="{{ absLangURL "demo/find/sms/" }}" title="忘记密码">忘记密码</a>
    </div>
    <input type="hidden" name="type" value="sms">
    <div class="d-grid gap-2 col-8 mx-auto">
        <button class="btn btn-primary" type="submit">登录</button>
    </div>
</form>