:root {
    --scrollbar-width: 0;
    --scrollbar-height: 0px !important;
}

:root, [data-bs-theme=light] {
    --theme-color: #4c0bce;
    --text-color: #000;
    --link-color: #000;
    --button-color: #000;
    --button-border-color: #000;
    --border-color: #000;
}

[data-bs-theme=dark] {
    --theme-color: #4c0bce;
    --text-color: #fff;
    --link-color: #fff;
    --button-color: #fff;
    --button-border-color: #fff;
    --border-color: #fff;
}

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

#mainNavbar {
    transition: transform 150ms linear;
}

footer-gradient:before {
    background: #b4e900;
    background: linear-gradient(90deg, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.4));
    content: "";
    display: block;
    height: .05rem;
}

a {
  color: var(--bs-link-color, rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1))) !important;
}

a:hover {
  color: var(--bs-link-hover-color) !important;
}
