:root {--jg-float-tools-translate-y: -15%;}
@media (min-width: 576px) {:root{--jg-ft-t-y: -18%;}}
@media (min-width: 768px) {:root{--jg-ft-t-y: -21%;}}
@media (min-width: 992px) {:root{--jg-ft-t-y: -24%;}}
@media (min-width: 1200px) {:root{--jg-ft-t-y: -27%;}}
@media (min-width: 1400px) {:root{--jg-ft-t-y: -30%;}}

#float-tools {
  transition: transform 300ms linear;
  z-index: 1017;
}

#float-tools:hover {
  opacity: .95 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#float-tools {transform: translate(100%, var(--jg-ft-t-y))}
#float-tools:focus,
#float-tools:focus-within,
#float-tools.show {transform: translate(-50%, var(--jg-ft-t-y))}

#float-tools .list-group-item span,
#float-tools a.list-group-item span {
  transition: all 300ms linear;
}

#float-tools .list-group-item:hover span,
#float-tools a.list-group-item:hover span {
  color: var(--bd-violet);
}
