#float-tools {
    transition: transform 2300ms linear;
    z-index: 1017;
}

#float-tools:hover {
    opacity: .95 !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#float-tools {transform: translate(-50%, -15%);}
#float-tools.hide {transform: translate(100%, -15%);}

@media (min-width: 576px) {
    #float-tools {transform: translate(-50%, -18%);}
    #float-tools.hide {transform: translate(100%, -18%);}
}

@media (min-width: 768px) {
    #float-tools {transform: translate(-50%, -21%);}
    #float-tools.hide {transform: translate(100%, -21%);}
}

@media (min-width: 992px) {
    #float-tools {transform: translate(-50%, -24%);}
    #float-tools.hide {transform: translate(100%, -24%);}
}

@media (min-width: 1200px) {
    #float-tools {transform: translate(-50%, -27%);}
    #float-tools.hide {transform: translate(100%, -27%);}
}

@media (min-width: 1400px) {
    #float-tools {transform: translate(-50%, -30%);}
    #float-tools.hide {transform: translate(100%, -30%);}
}

#float-tools .list-group-item span,
#float-tools a.list-group-item span {
    transition: all 300ms linear;
}

#float-tools .list-group-item:hover span,
#float-tools a.list-group-item:hover span {
    color: var(--bd-violet);
}
