:root {
  --bs-transition-color: color .29s ease;
  --bs-transition-text-decoration-color: text-decoration-color .29s ease;
}

.link-primary,
.link-secondary,
.link-success,
.link-info,
.link-danger,
.link-light,
.link-dark,
.link-warning,
.link-body-emphasis {
  transition: var(--bs-transition-color);
}

.link-underline-primary,
.link-underline-secondary,
.link-underline-success,
.link-underline-info,
.link-underline-warning,
.link-underline-danger,
.link-underline-light,
.link-underline-dark,
.link-underline {
  transition: var(--bs-transition-text-decoration-color);
}
