symbol path:nth-of-type(odd) {
  color: blueviolet;
}

symbol path:nth-of-type(even) {
  color: darkviolet;
}

symbol path:nth-of-type(odd+2) {
  color: palevioletred;
}

symbol path:nth-of-type(even+2) {
  color: violet;
}
