<header class="navbar sticky-top" id="publishNavbar">
    <nav class="container-lg gx-2 d-flex align-items-center justify-content-between">
        <h1><a class="navbar-brand p-0 me-0 me-lg-2" href="{{ relLangURL "" }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a></h1>
        <div id="docSearch"></div>
        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown">发布</button>
            <div class="dropdown-menu dropdown-menu-end">
                <div>
                    <button class="btn btn-primary" type="submit">发布文章</button>
                </div>
            </div>
        </div>
    </nav>
</header>