html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    --bar-width: 0px;
    width: var(--bar-width);
    height: var(--bar-width);
}

#mainNavbar {
    transition: transform 150ms linear;
}

.fs-min {
    font-size: .6rem;
}

/* 滚动 */
.tY-none {
    transform: none;
}

.tY-0 {
    transform: translateY(0);
}

.tY-50 {
    transform: translateY(50%);
}

.tY-100 {
    transform: translateY(100%);
}

.tY-150 {
    transform: translateY(100%);
}

.tY-n50 {
    transform: translateY(-50%);
}

.tY-n100 {
    transform: translateY(-100%);
}

.tY-n150 {
    transform: translateY(-150%);
}

.tX-none {
    transform: none;
}

.tX-0 {
    transform: translateX(0);
}

.tX-50 {
    transform: translateX(50%);
}

.tX-100 {
    transform: translateX(100%);
}

.tX-150 {
    transform: translateX(100%);
}

.tX-n50 {
    transform: translateX(-50%);
}

.tX-n100 {
    transform: translateX(-100%);
}

.tX-n150 {
    transform: translateX(-150%);
}

.tZ-none {
    transform: none;
}

.tZ-0 {
    transform: translateZ(0);
}

.tZ-1 {
    transform: translateZ(1rem);
}

.tZ-2 {
    transform: translateZ(2rem);
}

.tZ-3 {
    transform: translateZ(3rem);
}

.tZ-4 {
    transform: translateZ(4rem);
}

.tZ-5 {
    transform: translateZ(5rem);
}

.tZ-n1 {
    transform: translateZ(-1rem);
}

.tZ-n2 {
    transform: translateZ(-2rem);
}

.tZ-n3 {
    transform: translateZ(-3rem);
}

.tZ-n4 {
    transform: translateZ(-4rem);
}

.tZ-n5 {
    transform: translateZ(-5rem);
}

/*浮动工具*/
#float-tools {
    transition: transform 200ms linear;
    transform: translate(-100%, -400%);
}

#float-tools.hide {
    transform: translate(150%, -400%);
}

#float-tools > a {
    width: 32px !important;
    height: 32px !important;
}

#float-tools > a > span {
    transition: color 300ms linear;
}

#float-tools > a:hover span {
    color: var(--bd-violet) !important;
}

#float-tools > a,
#float-tools > a > span {
    display: block;
    line-height: 2;
}

#back-to-top > span,
#back-to-top:hover > span {
    transition: transform 200ms linear;
}

#back-to-top:hover > span {
    transform: translateY(-100%);
}
