html {
    scroll-behavior: smooth;
}

:root {
    --monospace: "Roboto Mono", sfmono-regular, consolas, liberation mono, menlo, courier, monospace;
}

.copyright,
.commit,
.record,
.license,
.fs-min {
    font-size: .6rem;
}

.headroom {
    /*will-change: transform;*/
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: unset;
}

.headroom--unpinned {
    transform: translateY(-100%);
}

/*浮动工具*/
#float-tools {
    transition: transform 200ms linear;
    transform: translate(-100%, -400%);
}

#float-tools.show {
    transform: translate(-30%, -400%);
}
#float-tools.hide {
    transform: translate(-30%, -400%);
}

#float-tools > a {
    width: 32px !important;
    height: 32px !important;
}

#float-tools > a,
#float-tools > a > span {
    display: block;
    line-height: 2;
}

#back-to-top > span,
#back-to-top:hover > span {
    transition: transform 200ms linear;
}

#back-to-top:hover > span {
    transform: translateY(-100%);
}
