{{ define "content" }}
    {{ partial "zhgh/svg_sprite_icons" }}
    <main class="pb-5 container-xxl" id="main">
        <div class="mx-auto py-5 col-12 col-sm-10 col-md-8 col-lg-6 col-xxl-4">
            <form class="py-4" id="logInfo">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" name="account" id="account" placeholder=" " minlength="11" maxlength="11" required>
                        <label for="account">
                            <svg class="me-1 text-body-secondary bi"><use href="#bi-phone"></use></svg>
                            手机号
                        </label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password" placeholder=" " minlength="6" maxlength="20" required>
                        <label for="password">
                            <svg class="me-1 text-body-secondary bi"><use href="#bi-key-fill"></use></svg>
                            密码
                        </label>
                    </div>
                    <a class="input-group-text text-reset text-decoration-none toggleDisplay" href="javascript:" title="点击后显示密码">
                        <svg class="text-body-secondary bi"><use href="#bi-eye-slash-fill"></use></svg>
                    </a>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="date" class="form-control" name="date" id="date" placeholder=" " minlength="10" maxlength="10" required>
                        <label for="date">
                            <svg class="me-1 text-body-secondary bi"><use href="#bi-calendar-day"></use></svg>
                            日期
                        </label>
                    </div>
                    <a class="input-group-text text-reset text-decoration-none yesterday" href="javascript:" data-bs-date="yesterday" data-bs-date-value="yesterday" title="昨天">昨天</a>
                    <a class="input-group-text text-reset text-decoration-none today" href="javascript:" data-bs-date="today" data-bs-date-value="today" title="今天">今天</a>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">查看日志</button>
                </div>
            </form>
        </div>
        {{ partial "zhgh/result" }}
    </main>
{{ end }}