{{ define "svg_sprite" }}{{ partial "svg_sprite_icons/publish" . }}{{ end }}
{{ define "header_navbar" }}{{ partial "navbar/publish/index" . }}{{ end }}
{{ define "body_override" }}<body class="bg-body vh-100 overflow-hidden">{{ end }}
{{ define "content" }}
<main class="pb-5 container gx-1 gx-sm-0" id="content">
    {{- .Content -}}
    <div>
        <div class="d-flex flex-column row-gap-3">
            <div class="pt-3">
                <div class="d-flex flex-row justify-content-between align-items-center border rounded bg-transparent bg-opacity-25 text-light-emphasis" id="tagTitle">
                    <input type="text" class="p-2 flex-fill bg-transparent border-0 tagTitleInput" id="tagTitleInput" minlength="12" maxlength="64" placeholder="文章标题" autocomplete="off" autofocus required style="outline: none;">
                    <button class="btn border-0 tagTitleReset" type="reset" id="tagTitleReset">
                        <svg class="bi text-secondary"><title>{{ T "clear" }}</title><use href="#bi-x-lg"></use></svg>
                    </button>
                </div>
            </div>
            <div>
                <details class="position-relative rounded border" id="a-tags">
                    <summary class="p-2 d-flex">
                        <div class="w-100 d-flex justify-content-between align-items-center user-select-none">
                            <div class="overflow-hidden overflow-x-scroll summaryPlaceholder" style="height: 24px;">
                                <span class="text-nowrap tagSelectedList" id="tagSelectedList"></span>
                                <span class="summaryPlaceholderText">设置标签</span>
                            </div>
                            <div class="detail-mark text-secondary">
                                <svg class="bi"><use href="#bi-caret-up-fill"></use></svg>
                                <svg class="bi"><use href="#bi-caret-down-fill"></use></svg>
                            </div>
                        </div>
                    </summary>
                    <div>
                        <div class="p-2 border-top">
                            <div class="position-relative d-flex flex-wrap column-gap-1 row-gap-2 overflow-hidden overflow-y-scroll tagSelectedBtnList" id="tagSelectedBtnList" style="max-height: 8em;"></div>
                        </div>
                        <div class="p-2 border-top">
                            <div class="d-flex justify-content-between align-items-center small">
                                <p class="mb-0">还可以添加<span class="px-2" id="remainingTagCount"></span>个标签</p>
                                <p class="mb-0 text-nowrap">找不到标签？<button type="button" class="btn btn-sm btn-outline-secondary" id="tagCreate">创建标签</button></p>
                            </div>
                            <p class="mb-0 small collapse fade" id="tagMessage"></p>
                        </div>
                        <div class="p-2 border-top">
                            <div class="d-flex flex-row justify-content-between align-items-center rounded bg-secondary bg-opacity-25 text-light-emphasis" id="tagSearch">
                                <input class="p-2 flex-fill bg-transparent border-0 tagSearchInput" type="search" id="tagSearchInput" placeholder="{{ T "search" }}" autocomplete="off" aria-label="{{ T "search" }}" style="min-inline-size: 0;outline: none;">
                                <button class="btn border-0 tagSearchReset" type="reset" id="tagSearchReset">
                                    <svg class="bi text-secondary"><title>{{ T "clear" }}</title><use href="#bi-x-lg"></use></svg>
                                </button>
                                <span class="p-2"><svg class="bi text-secondary"><title>{{ T "search" }}</title><use href="#bi-search"></use></svg></span>
                            </div>
                            <div class="collapse" id="tagSearchResult"></div>
                        </div>
                        <div class="p-2 border-top">
                            <nav class="overflow-hidden border-bottom border-secondary border-opacity-25">
                                <ul class="nav nav-underline flex-nowrap overflow-y-hidden overflow-x-scroll tag-category-tab" role="tablist" id="tagCategoryList"></ul>
                            </nav>
                            <div class="tab-content py-2" id="tagList"></div>
                        </div>
                    </div>
                </details>
            </div>
            <div id="vditor"></div>
            <div class="d-flex column-gap-3 justify-content-end align-items-center">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split link-secondary link-opacity-75-hover link-underline-opacity-0" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <span>草稿</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end text-center">
                        <span class="dropdown-item-text">草稿是自动保存</span>
                        <button type="button" class="dropdown-item btn btn-success" id="clearDraft" data-bs-content="已经清除草稿<span class='ms-2 badge text-bg-secondary countdown countdown-5s-before'>s</span>" data-bs-html="true">舍弃草稿</button>
                    </div>
                </div>
                <div class="btn-group btn-group-lg dropup">
                    <button type="submit" class="btn btn-outline-success" id="sureSubmitBtn">发布</button>
                    <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end text-center">
                        <button type="button" class="dropdown-item btn btn-success">定时发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}