#headerNotice > div:before,
#headerNotice > div:after {
    position: absolute;
    top: 0;
    display: block;
    width: 2rem;
    color: transparent;
    content: "#";
    z-index: 1;
}

#headerNotice > div:before {
    left: 0;
    background-image: linear-gradient(270deg, rgba(var(--bs-success-rgb), 0) 0%, rgba(var(--bs-success-rgb), 1) 98%);
}

#headerNotice > div:after {
    right: 0;
    background-image: linear-gradient(90deg, rgba(var(--bs-success-rgb), 0) 0%, rgba(var(--bs-success-rgb), 1) 98%);
}
