details .detail-mark span:first-of-type {
  display: block;
}

details .detail-mark span:last-of-type {
  display: none;
}

details[open] .detail-mark span:first-of-type {
  display: none;
}

details[open] .detail-mark span:last-of-type {
  display: block;
}
