{{ range .Site.Menus.donate }}
{{ if .HasChildren }}
<button class="btn btn-link nav-link d-flex align-items-center" type="button" title="{{- .Name | safeHTML -}}" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-display="static">
    <svg class="bi my-1 text-danger" width="16" height="16"><title>{{- .Name | safeHTML -}}</title><use href="#bi-heart-fill"></use></svg>
    <span class="d-lg-none ms-2" id="donateSwitcher-text">{{- .Name | safeHTML -}}</span>
</button>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="donateSwitcher-text">
    {{ range .Children }}
    <li>
        <button class="dropdown-item d-flex align-items-center justify-content-between" type="button" data-donate="{{ .Params.donate_value }}" title="{{ .Name | safeHTML }}">
            <svg class="bi me-2 {{ .Params.svg.class }}" width="16" height="16"><title>{{ .Name | safeHTML }}</title><use href="#{{ .Params.svg.useHref }}"></use></svg>
            <span>{{ .Name | safeHTML }}</span>
        </button>
    </li>
    {{ end }}
</ul>
{{ else }}
<span>{{- .Name | safeHTML -}}</span>
{{ end }}
{{ end }}