<div class="mb-3 d-flex justify-content-between align-items-center">
    <span class="fs-4">通过短信重置密码</span>
    <a class="link-secondary text-decoration-none" href="{{ absLangURL "demo/reset/email/" }}" title="通过邮箱重置密码">通过邮箱重置密码</a>
</div>
<form id="reset_password_sms">
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="text" class="form-control" name="user" id="reset_password_sms_user" placeholder=" " required>
            <label for="reset_password_sms_user">用户名</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <button class="input-group-text idd_code" type="button">
            <input type="hidden" name="idd_code" value="+86" required>
            <span>+86</span>
        </button>
        <div class="form-floating">
            <input type="text" class="form-control sendCaptchaTo" name="account" id="reset_password_sms_account" placeholder=" " minlength="11" maxlength="11" required>
            <label for="reset_password_sms_account"><i class="me-1 fa-fw fa fa-mobile-alt text-muted"></i>手机号码</label>
        </div>
        <a class="input-group-text text-decoration-none sendCaptcha" href="#" data-action="reset" data-type="sms">
            <span class="text-reset">发送验证码</span>
        </a>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="text" class="form-control" name="new_captcha" id="reset_password_sms_sms_captcha" placeholder=" " minlength="5" maxlength="6" required>
            <label for="reset_password_sms_sms_captcha">短信验证码</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <a class="p-0 input-group-text" href="javascript:" title="点击后刷新">
            <img class="lazyCaptcha" width="134" height="56" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/api/captcha.php?a=reset_password&v=" alt="验证码">
        </a>
        <div class="form-floating">
            <input type="text" class="form-control" name="captcha" id="phone_reset_password_captcha" placeholder=" " minlength="4" maxlength="5" required>
            <label for="phone_reset_password_captcha">验证码</label>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="reset_password_sms_password" placeholder=" " minlength="8" maxlength="30" autocomplete required>
            <label for="reset_password_sms_password"><i class="me-1 fa-fw fa fa-key text-muted"></i>设置新的密码</label>
        </div>
        <a class="input-group-text text-reset text-decoration-none toggleDisplay" href="javascript:" title="点击后显示密码">
            <i class="text-muted fa-fw fa fa-eye-slash"></i>
        </a>
    </div>
    <input type="hidden" name="type" value="sms">
    <div class="d-grid gap-2 col-8 mx-auto">
        <button class="btn btn-primary" type="submit">发送重置短信</button>
    </div>
</form>
