{{ define "content" }}
<main class="pt-4 pb-5 min-vh-100" id="content">
    <div class="container-xxl">
        <div class="d-flex flex-wrap flex-column flex-md-row gap-3">
            <div class="col-12 col-lg-5 col-xl-4 flex-lg-grow-1 border p-3">carousel</div>
            <div class="col-12 col-lg-6 col-xl-7 d-flex flex-wrap flex-row gap-3">
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
                <div class="col-3 flex-fill border p-3" style="min-height: 15vh;">image</div>
            </div>
        </div>
    </div>
    <div class="container">
        {{ .Content }}
    </div>
</main>
{{ end }}