{{ define "content" }}
    {{ partial "zhgh/svg_sprite_icons" }}
    <main class="pb-5 container-xxl" id="main">
        <div class="mx-auto py-5 col-12 col-sm-10 col-md-8 col-lg-6 col-xxl-4">
            <form class="py-4" id="study_login">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" name="account" id="account" placeholder=" " minlength="11" maxlength="11" autocomplete="off" required>
                        <label for="account">
                            <svg class="me-1 fs-5 text-body-secondary bi"><use href="#bi-phone"></use></svg>
                            手机号
                        </label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password" placeholder=" " minlength="6" maxlength="20" autocomplete="off" required>
                        <label for="password">
                            <svg class="me-1 fs-5 text-body-secondary bi"><use href="#bi-key-fill"></use></svg>
                            密码
                        </label>
                    </div>
                    <a class="input-group-text text-reset text-decoration-none toggleDisplay" href="javascript:" title="点击后显示密码">
                        <svg class="text-body-secondary bi fs-5"><use href="#bi-eye-slash-fill"></use></svg>
                    </a>
                </div>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <select class="form-select" name="throughNum" id="throughSelect" aria-label="Floating label select example" required>
                            <option value="" selected disabled>选择工种题型</option>
                            <option value="random">随机所有</option>
                        </select>
                        <label for="throughSelect">类别</label>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">开始</button>
                    <p class="text-center">计时：<span id="submit_timer">0</span>秒</p>
                </div>
                <div class="card" id="auto">
                    <div class="card-body d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center row-gap-2 column-gap-3">
                        <div class="col-12 col-sm-5 d-flex justify-content-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="autoSubmit" checked data-bs-toggle="collapse" data-bs-target="#autoSubmitConfig">
                                <label class="form-check-label" for="autoSubmit">
                                    <!--<span class="switchDefaultText">默认</span>-->
                                    <span class="switchEnableText">自动</span>
                                    <span class="switchDisableText">手动</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-sm collapse show" id="autoSubmitConfig">
                            <div class="d-flex flex-column row-gap-2">
                                <div class="input-group">
                                    <label class="input-group-text" for="autoSubmitTotalTimes">总次数</label>
                                    <input class="form-control" type="number" value="1" id="autoSubmitTotalTimes" min="1" max="30" step="1" maxlength="2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {{ partial "zhgh/result" }}
        {{ partial "zhgh/page_tools" }}
    </main>
{{ end }}