{{ if and (ne .Page.Params.navbar "hide") (ne .Page.Params.onlyMain true) }}
<header class="navbar navbar-expand-lg bd-navbar sticky-top">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
        <div class="d-lg-none" style="width: 1.5rem;"></div>
        <a class="navbar-brand p-0 me-0 me-lg-2" href="{{ absURL "" }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
        <div class="d-flex">
            <div class="bd-search" id="docSearch"></div>
            <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
                <svg class="bi" aria-hidden="true"><use xlink:href="#three-dots"></use></svg>
            </button>
        </div>
        <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">
            <div class="offcanvas-header px-4 pb-0">
                <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">账号</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body p-4 pt-0 p-lg-0">
                <hr class="d-lg-none text-white-50">
                {{ partial "navbar/v1/main" . }}
                <hr class="d-lg-none text-white-50">
                {{ partial "navbar/v1/external_link" . }}
                {{ partial "navbar/v1/delimiter" . }}
                {{ partial "navbar/v1/tool" . }}
                {{ partial "navbar/v1/delimiter" . }}
                {{ partial "navbar/v1/account" . }}
            </div>
        </div>
    </nav>
</header>
{{ end }}