<header class="navbar navbar-expand-lg bd-navbar sticky-top" id="mainNavbar">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
        {{ if .IsHome }}
        <div class="d-lg-none" style="width: 4.25rem;"></div>
        {{ end }}
        <a class="navbar-brand p-0 me-0 me-lg-2" href="{{ relURL "" }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
        <div class="d-flex">
        {{ if (eq .IsHome false) }}
        <div class="bd-search" id="docSearch"></div>
        {{ end }}
        <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
            <svg class="bi" aria-hidden="true" width="16" height="16"><use href="#bi-three-dots"></use></svg>
        </button>
        </div>
        <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
                <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">{{ .Site.Title }}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body p-4 pt-0 p-lg-0">
                <hr class="d-lg-none bg-body">
                {{ partial "navbar/v1/main" . }}
                <hr class="d-lg-none bg-body">
                <span class="ms-md-auto"></span>
                {{ partial "navbar/v1/external_link" . }}
                {{ partial "navbar/v1/delimiter" . }}
                {{ partial "navbar/v1/tool" . }}
                {{ partial "navbar/v1/delimiter" . }}
                {{ partial "navbar/v1/account" . }}
            </div>
        </div>
    </nav>
</header>