<div class="nav nav-pills" id="signupTab">
    <a class="nav-link active" href="javascript:" data-bs-toggle="tab" data-bs-target="#pane-signup-normal">用户名注册</a>
    <a class="nav-link" href="javascript:" data-bs-toggle="tab" data-bs-target="#pane-signup-sms">短信注册</a>
    <a class="nav-link" href="javascript:" data-bs-toggle="tab" data-bs-target="#pane-signup-email">邮箱注册</a>
</div>
<div class="tab-content" id="signupTabContent">
    <div class="tab-pane fade show active" id="pane-signup-normal" tabindex="0">
        {{ partial "demo/signup/normal" . }}
    </div>
    <div class="tab-pane fade" id="pane-signup-sms" tabindex="0">
        {{ partial "demo/signup/sms" . }}
    </div>
    <div class="tab-pane fade" id="pane-signup-email" tabindex="0">
        {{ partial "demo/signup/email" . }}
    </div>
</div>