<div class="glide__slide__items d-flex flex-wrap flex-row gap-3">
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
    <div class="col-3 flex-fill glide__slide__item border p-3" style="min-height: 15vh;">image</div>
</div>