{{ define "content" }}
    {{ partial "svg_sprite_icons/aqxc" }}
    <main class="pb-5 container-xxl" id="main">
        <div class="mx-auto py-5 col-12 col-sm-10 col-md-8 col-lg-6 col-xxl-4">
            <form class="d-flex flex-column row-gap-4 mb-3" id="batch_form">
                <div class="d-grid col-6 mx-auto">
                    <button class="btn btn-outline-success" type="button" id="videoStat">查看学习报告</button>
                </div>
            </form>
            <div class="card mb-3" id="result">
                <div class="card-header">结果</div>
            </div>
        </div>
    </main>
{{ end }}